.panelContainer {
    background-color: #202020;
    width: 100%;
    height: 115px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 370px;
}

.previousNumber, .currentNumber {
    color: white;
    text-align: right;
    margin-right: 10px;
  
}

.previousNumber{
    font-size: 1.2rem;
    margin-top: 10px;
  
}
.currentNumber {
    font-size: 2.5rem;
    margin-bottom: 5px;
}